
body {
    background-color: #FFC34A;
    color: #806125;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-family: Trebuchet MS, sans-serif;
}

// 807153
// FFCB59
// FFE3A6
// 806A3B
// CCB585

.myheader {

    background-color: #BF9237;
    color: #423213;
    text-align: center;

    h1 {
        font-size: 70px;
        text-align: center;
        font-family: Comic Sans;
    }
    h3 {
        font-size: 50px;
        text-align: left;
        font-family: Comic Sans;
    }
}

.recipe {

    background-color: #806a3b;
    color: #ccb585;
    text-align: center;
    border: 1px solid;
    padding: 5px;
    margin-top: 5px;
    font-size: 10px;

    h2 {
        font-size: 55px;
        text-align: center;
        font-family: Comic Sans;
    }

    h6 {
        font-size: 8px;
        text-align: left;
        font-family: Courier, Monaco, monospace;
    }
}

.recipe .title {
        font-size: 15px;
        text-align: center;
        font-family: Comic Sans;
}

.recipe .timestamp {
        font-size: 8px;
        text-align: right;
        font-family: Courier, Monaco, monospace;
}

.recipe .ingedriends {
        font-size: 8px;
        text-align: right;
        font-family: Courier, Monaco, monospace;
        color: #ffffff;
}

.mytable td {
        font-size: 6px;
        font-family: Courier, Monaco, monospace;
        color: #000000;
}


.ingredients_table{
        display:table;
        width:100%;
        table-layout:fixed;
}

.ingredients_table_cell{
        display:table-cell;
        width:100px;
}


.baking {

    text-align: center;
    border: 2px dashed;
    padding: 5px;
    margin-top: 5px;

    ol {
    font-family: Arial, Helvetica, sans-serif;
    }
}

.baking .logs {

        font-size: 8px;
        text-align: left;
        font-family: Courier, Monaco, monospace;
}


footer {
    padding-top: 130px;
    padding-bottom: 10px;
    margin-top: 60px;
}
